[%General]
mplayer_bin={{ SMPLAYER_CONF_MPLAYER_BIN }}
screenshot_folder={{ SMPLAYER_CONF_SCREENSHOT_FOLDER }}
screenshot_format={{ SMPLAYER_CONF_SCREENSHOT_FORMAT }}
screenshot_template={{ SMPLAYER_CONF_SCREENSHOT_TEMPLATE }}
osd={{ SMPLAYER_CONF_OSD }}

[gui]
gui={{ SMPLAYER_CONF_GUI }}
iconset={{ SMPLAYER_CONF_ICONSET }}
qt_style={{ SMPLAYER_CONF_QT_STYLE }}
